@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.divisas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 2em;
    width: 100%;
    height: 100%;
    text-align: center;
}

.valores{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 212, 212);
    padding: 0;
    margin: -8px;
    font-family: 'Poppins', sans-serif;
}

.valores p{
    margin: 1em;
    color: rgb(76, 100, 128);
    font-size: 1.5em;
}

.tarjeta-divisa{
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    border: 1px; 
    margin: .5em; 
    padding: .5em;
    background-color: rgb(112, 129, 139);
    border-radius: 1em;

}
.detalle{
    font-size: 12px;
}
.variacion-red{
    /*-webkit-text-stroke: 1px rgb(122, 14, 14);*/
    text-shadow: 0 0 6px rgb(53, 53, 53);
    font-size: 24px;
    color: rgb(255, 93, 93);
}
.variacion-green{
    /*-webkit-text-stroke: 1px rgb(32, 78, 32);*/
    text-shadow: 0 0 6px rgb(61, 61, 61);
    font-size: 24px;
    color: rgb(48, 224, 48);
}